---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Cta from "@components/cta.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Google Ads">
  <Sectionhead>
    <Fragment slot="title">Google Ads</Fragment>
  </Sectionhead>

  <Container>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <!-- <h2 class="font-bold text-3xl text-gray-800">
        Empowering the world with Astro.
      </h2> -->
      <p class="text-lg leading-relaxed text-slate-500 pb-4">
        When you're in a rush to boost your website traffic and can't afford to wait for SEO to
        work its magic, Google Ads is your go-to solution. It's a convenient way to advertise
        your business directly online, attracting immediate attention, traffic, and potential
        customers. Your customised ads appear at the top of Google search results,
        triggered by specific keywords related to your business. The best part? You only pay
        when users click on your ad to visit your website or contact you, relieving you from
        the SEO waiting game.
        </p><p class="text-lg leading-relaxed text-slate-500 py-4">
        With a dedicated Google Ads campaign, you can target your desired audience
        precisely, ensuring your ads are seen by the right people at the right time. You can
        control your spending by selecting keywords and setting a daily budget. Our Google
        Ads specialists optimise your ads based on performance data, ensuring your
        campaign improves over time. Additionally, Google Remarketing helps you
        reconnect with visitors who previously visited your website but did not make a
        purchase.
      </p><p class="text-lg leading-relaxed text-slate-500 py-4">
        Google Ads campaigns are quick, adaptable, and suitable for various advertising
        goals, including promoting seasonal products or services with limited availability.
        However, the cost per click can vary significantly, so it's crucial to have a high
        conversion rate on your website or landing page to make the campaign profitable. At
        Cherry Peak Creative, we are the trusted PPC agency for businesses. We
        manage your Google Ads to maximise your return on investment. Our digital
        marketing experts continuously test and refine your ads to ensure optimal
        performance.
      </p>
      <!-- <p class="text-lg leading-relaxed text-slate-500">
        Contact us today to discuss how we can assist you in ranking your brand higher by
        using Google Ads.
      </p> -->
      <Cta href="/contact-us" link="Lets Talk!" >
        <!-- <Fragment slot="title">Get in Touch</Fragment> -->
        <Fragment slot="text">Contact us today to discuss how we can assist you in ranking your brand higher by
          using Google Ads.</Fragment>
      </Cta>
    </div>
  
  </Container>
</Layout>
