---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";

import StepsImage from "assets/homepage/Steps.png";
import LadderImage from "assets/homepage/Ladder.png";
---

<Layout title="">
  <Container>
    <Hero />
    <section class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      
      <h2 class="font-bold text-3xl text-gray-800">
        How Cherry Peak can assist you?
      </h2>
      <p class="leading-relaxed text-slate-500">
        Are you finding increasing your website&#39;s online visibility and engagement
        challenging? Is your website not ranking as high as you&#39;d like on Google? Are you
        spending money on expensive clicks without seeing any results? If you&#39;re facing
        these issues, you&#39;re not alone.
      </p><p class="leading-relaxed text-slate-500">
        At Cherry Peak, we are dedicated to helping your business thrive in the digital landscape.
        Our team offers a comprehensive suite of digital marketing services tailored to your unique
        needs. From search engine optimisation (SEO) and pay-per-click (PPC) advertising to social
        media management and content creation, we leverage the latest strategies and technologies
        to maximise your online presence and drive results. Whether you&#39;re looking to boost your
        website traffic, increase conversions, or build a strong brand identity, Cherry Peak has the
        expertise and passion to take your business to new heights. Let us be your partner in
        achieving digital success.
        
        </p>
      </section>

      <section class="flex gap-3 mx-auto max-w-4xl mt-16">
        <div class="image hidden lg:flex">
          <Picture
          src={LadderImage}
          alt="Astronaut in the air"
          widths={[100, 200, 300]}
          sizes="(max-width: 400px) 100vw, fit-content"
          loading="eager"
          format="png"
        />
        </div>
        <div class="content">
        <h2 class="font-bold text-3xl text-gray-800">
          The benefits of digital marketing.
        </h2>
        <p class="leading-relaxed text-slate-500">
          Digital marketing offers a vast reach, allowing businesses to engage with audiences
          precisely when they are considering making a purchase. However, achieving
          success in digital marketing demands expertise, which is where a digital marketing
          agency can be invaluable.
        </p><p class="leading-relaxed text-slate-500">
          Statistics show that the average conversion rate for online marketing is around
          2.35%. In other words, out of every 100 visitors, only a few will convert into leads.
          This is why it can be transformative to partner with a skilled marketing and media
          agency to navigate the intricacies of online marketing effectively.
          
          </p>
        </div>

        </section>

        <section class="flex gap-3 mx-auto max-w-4xl mt-16">
          <div class="content">
          <h2 class="font-bold text-3xl text-gray-800">
            Cherry Peak Creative – marketing and media agency
          </h2>
          <p class="leading-relaxed text-slate-500">
            At Cherry Peak Creative, we are a marketing and media agency based in Australia
            and the UK renowned for our proficiency in digital strategy and online marketing
            services. Our primary goal is to deliver high-quality and innovative marketing
            solutions that will help you scale new heights in your industry.
          </p><p class="leading-relaxed text-slate-500">
            We strive to stay ahead of the curve for marketing trends by harnessing our creative
            energy and technical acumen to deliver services that not only meet your
            expectations but will exceed them. We firmly believe in creating a strong and
            transparent relationship with our clients built on mutual trust and shared access.
            
            </p>
          
            <p class="leading-relaxed text-slate-500">
              We aim to uphold the highest standards of integrity and professionalism while
              celebrating diversity and embracing sustainable business practices.
              As a dynamic player in the marketing landscape, our ambition is to become a
              beacon of excellence and leadership, infusing positivity and enthusiasm—the ‘cherry
              on top’—into every project we undertake.
              </p>
            </div>
              <div class="image hidden lg:flex">
                <Picture
                src={StepsImage}
                alt="Astronaut in the air"
                widths={[100, 200, 300]}
                sizes="(max-width: 400px) 100vw, fit-content"
                loading="eager"
                format="png"
              />
              </div>
            </section>
            <section class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
              <h2 class="font-bold text-3xl text-gray-800">
                What can you expect from our digital marketing services?
              </h2>
              <p class="leading-relaxed text-slate-500">
                No matter how exceptional your products or services are, you will be missing out if
                customers cannot find your business online. With a proficient digital marketing and
                media agency by your side, enhancing your online presence becomes
                straightforward. Cherry Peak Creative delivers straightforward digital marketing
                strategies to make you stand out while allowing you to then focus on managing your
                business.
              </p>
              <p class="leading-relaxed text-slate-500">
                Our 4-Step Process to Elevate Your Business
              </p>
              <div class="grid">
                <div class="grid-item">
                <h3>Discovery &amp; Strategy</h3>
                <i class="fa-solid fa-1"></i>
                <p>
                We begin by understanding your business goals, target audience, and current digital
                presence. Through in-depth market research and competitor analysis, we develop a custom
                digital marketing strategy tailored to your specific needs.</p>
                </div><div class="grid-item">
                  <h3>Content Creation</h3>
                  <i class="fa-solid fa-2"></i>
                  <p>Our talented team produces high-quality, engaging content that captures attention and
                encourages interaction. From blog posts and social media updates to videos and
                infographics, we create content that resonates with your audience and drives engagement.</p>
                </div><div class="grid-item">
                  <h3>Campaign Execution</h3>
                  <i class="fa-solid fa-3"></i>
                  <p>With a solid strategy and compelling content in place, we launch targeted campaigns across
                various digital channels, including SEO, PPC, social media, and email marketing. We
                continuously monitor and adjust our tactics to ensure optimal performance and return on
                investment.</p>
                </div><div class="grid-item">
                  <h3>Analytics &amp; Optimisation</h3>
                  <i class="fa-solid fa-4"></i>
                  <p>We believe in data-driven decision-making. Our team provides detailed reports and insights
                on campaign performance, helping you understand what works and what doesn&#39;t. We use
                this information to refine your strategy, ensuring ongoing improvement and sustained
                success.</p>
                </div>
              </div> 
              </section>
      <!-- </div> -->
    <Cta href="/contact-us" link="Get in Touch">
      <!-- <Fragment slot="title">Get in Touch</Fragment> -->
      <Fragment slot="text">Partner with Cherry Peak to experience the transformative power of a strategic
        data-driven approach to digital marketing.</Fragment>
  </Container>
</Layout>


<style>
  h2 {
    margin-bottom: 8px;
  }
  .grid {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
    grid-row-gap: 20px;
  }

  @media not all and (min-width: 1024px) { 
    .grid{
      grid-template-columns: 100%;
    grid-column-gap: 0;
    }
   }

  .grid-item {
    padding: 12px;
    border: 2px solid #00AF4C;
    border-radius: 8px;

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
    }
    p {
      color: #64748B;
    }
  }
</style>