---
import Link from "@components/ui/link.astro";
---

<div class="ctabar bg-white block lg:hidden">
    <Link href="/contact-us" size="md" block>Lets Talk!</Link>
</div>

<style>
    .ctabar {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100vw;
        padding: 8px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 1.2rem;
    }
</style>