---
const { align = "center" } = Astro.props;
---

<div class:list={["sectionhead", "pt-16", "pb-8", "bg-melon", "mb-16"]}>
  <div class=" text-4xl lg:text-5xl font-bold lg:tracking-tight max-w-4xl mx-auto text-gunmetal">
    <h1 class="px-4 lg:px-0"><slot name="title">Title</slot></h1>
    <h3 class="px-4 lg:px-0"><slot name="desc"></slot></h3>
  </div>
</div>

<style>
  .sectionhead {
background: #F9B29B;
  }
  h3 {
    font-size: 1.4rem;

  }
</style>